body {
    font-family: 'Montserrat', sans-serif;
    background: #faf8ef;
    color: #776e65;
    margin: 0;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}
:active, :focus {
    outline: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background: rgb(101, 175, 184);
}
.nav {
    display: flex;
    margin: 0;
    padding: 15px;
    color: #fff;
}
.nav ul {
    padding: 0;
}
.nav li {
    list-style-type: none;
    margin-right: 30px;
}
.nav a {
    text-decoration: none;
    color: inherit;
    letter-spacing: 2px;
}
.nav a.active {
    font-weight: bold;
}

.description {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
}
.description p {
    padding-bottom: 30px;
    line-height: 24px;
}

.title {
    font-size: 24px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 50px;
}

.team-container {
    max-width: 300px;
    padding: 0 20px;
    margin: 0 auto;
}
.team-container .team {
    display: flex;
    padding-top: 40px;
}
.team-container .team:first-child {
    float: left;
}
.team-container .team:first-child {
    float: right;
}
.team-container .team .item {
    width: 85px;
    height: 85px;
    border: 5px solid #c8c8c8;
    border-radius: 3px;
    background: #e5e5e5;
    font-size: 70px;
    line-height: 85px;
    text-align: center;
    color: #0dd3c7;
    text-shadow: 2px 2px 3px #3a5655;
    cursor: pointer;
    transition-duration: 0.5s;
}
.team-container .team .item.active, .team-container .team .item:hover {
    background: #c8c8c8;
}

.level {
    padding-top: 50px;
    letter-spacing: 0.5px;
}
.difficulty-select {
    border: none;
    border-bottom: 1px solid #776e65;
    float: right;
    margin-left: 0;
    width: 80px;
    outline: none;
    color: #776e65;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.7px;
    padding: 3px 0;
    background: #faf8ef;
    transition-duration: 0.3s;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;

    background-image: linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
    background-position: calc(100% - 5px) calc(8px), calc(100% + 1px) calc(8px);
    background-size: 7px 5px, 6px 5px;
    background-repeat: no-repeat;
}
.difficulty-select:focus {
    background-image: linear-gradient(45deg, #0dd3c7 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, #0dd3c7 50%);
    background-position: calc(100% + 1px) 8px, calc(100% - 5px) 8px;
    border-color: #0dd3c7;
    outline: 0;
}
@media (max-width: 600px) {
    .difficulty-select {
        width: 100%;
        margin-top: 10px;
    }
}

.difficulty-select option {
    padding: 2px 15px;
}
.difficulty-select option[selected]{
    background-color: 206972;
    color: #ffffff;
}
.difficulty-select option[selected]:before {
    content: '&#10003';
}


select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

.game-container {
    position: relative;
    width: 300px;
    margin: 0 auto;
    padding-top: 50px;
}
.game-container .game-title {
    font-size: 24px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 30px;
}
.play-field {
    background: #c8c8c8;
    border-radius: 5px;
    padding: 10px;
}
.play-field .row {
    display: flex;
}

.play-field .row .cell {
    width: 100px;
    height: 85px;
    border-radius: 3px;
    background: #e5e5e5;
    margin: 0 10px 10px 0;
    font-size: 70px;
    line-height: 85px;
    text-align: center;
    color: #0dd3c7;
    text-shadow: 2px 2px 3px #3a5655;
    cursor: pointer;
}
.play-field .row:last-child .cell {
    margin: 0 10px 0 0;
}
.play-field .row .cell:last-child {
    margin: 0;
}

.reset-button {
    position: relative;
    top: -40px;
    right: -190px;
    width: 50px;
    margin: 0 auto;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}
@media (max-width: 600px) {
    .reset-button {
        position: initial;
        margin-right: 15px;
        margin-top: 20px;
        width: 25px;
    }
}
.reset-button span {
    opacity: 0;
    position: absolute;
    left: 18px;
    top: -4px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    background: rgb(101, 175, 184);
    box-shadow: 2px 2px 3px #3a5655;
    padding: 3px 10px;
    border-radius: 3px;
    transition-duration: 0.5s;
    letter-spacing: 1px;
    color: white;
}
.reset-button:hover span {
    opacity: 1;
}

.popup {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
}
.popup .popup-container {
    position: relative;
    width: 300px;
    height: 165px;
    margin: auto;
    background: white;
    border: 5px solid #c8c8c8;
    border-radius: 5px;
}
.popup-container .popup-title {
    text-align: center;
    padding: 30px;
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 3px;
}
.xo-button {
    display: block;
    width: 140px;
    height: 17px;
    margin: 0 auto;
    padding: 10px;
    background: rgb(101, 175, 184);
    border-radius: 5px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
    text-shadow: 1px 0px 5px #609391;
    box-shadow: 1px 1px 2px #3a5655;
    transition-duration: 0.5s;
    cursor: pointer;
}
.xo-button:hover {
    background: rgb(32, 105, 114);
}


@keyframes smooth-appear {
    0%   { opacity: 0;}
    100% { opacity: 1;}
}

@keyframes smooth-appear-from-top {
    0%   { opacity: 0; margin-top: -100px;}
    100% { opacity: 1; margin-top: 0;}
}

@keyframes popup-appear-from-top {
    0%   { opacity: 0; top: -50px;}
    100% { opacity: 1; top: 0;}
}

.play-field .row .cell span {
    animation: smooth-appear 0.5s;
}
.title, .game-container, .description {
    animation: smooth-appear-from-top 1s;
}

.popup-container {
    animation: popup-appear-from-top 0.5s;
}